@model EntityLayer.Concrete.Category
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h1>New Category Add Page</h1>
</style>
<br />
@using (Html.BeginForm("AddCategory","Category",FormMethod.Post))
            {
                <div class="form-group">
                    @Html.Label("CategoryName")
                    @Html.TextBoxFor(x => x.CategoryName)
                    @Html.ValidationMessageFor(x => x.CategoryName)
                    <br /> <br />
                    @Html.Label("Enter Description")
                    @Html.TextBoxFor(x => x.CategoryDescription)
                    @Html.ValidationMessageFor(x => x.CategoryDescription)
                    
                    <br /> <br />
                    <button>Save</button>
                </div>
            }
 @*Welcome
<form class="form-group" method="post">
    <input type="text" placeholder="CategoryName" name="CategoryName" class="form-control" />
    <br />
    <input type="text" placeholder="Write The Description" name="CategoryDescription" class="form-control" />
    <br />
    <button class="btn btn-primary">Add</button>

</form>*@
